In [1]:
#Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a collection of data that is organized and structured in a way that makes it easy to access, manage, and update. 

SQL databases are relational databases that use structured query language, while NoSQL databases are non-relational databases that use a variety of data models.

In [3]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

 DDL stands for Data Definition Language, which is used to define the structure of a database. 
 
 CREATE is used to create a new table or database,
 
 DROP is used to delete an existing table or database, 
 
 ALTER is used to modify the structure of an existing table, 
 and TRUNCATE is used to delete all the data from an existing table while keeping the structure intact. 
 
 For example, CREATE TABLE Students (ID INT, Name VARCHAR(50), Age INT) 
 
 creates a new table called Students with three columns: ID, Name, and Age.

In [4]:
#Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is used to manipulate data in a database. 
INSERT is used to add new data to a table, UPDATE is used to modify existing data in a table, and DELETE is used to remove data from a table.  

example= INSERT INTO Students (ID, Name, Age) VALUES (1, 'John', 20) adds a new row with ID 1, Name John, and Age 20 to the Students table. 

UPDATE Students SET Age = 21 WHERE ID = 1, modifies the Age column of the row with ID 1 to 21. 

DELETE FROM Students WHERE ID = 1 removes the row with ID 1 from the Students table.

In [5]:
#Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is used to retrieve data from a database. 

SELECT is used to retrieve data from one or more tables in a database. 

For example, SELECT * FROM Students retrieves all the rows and columns from the Students table, 

while SELECT Name, Age FROM Students WHERE Age > 20 retrieves only the Name and Age columns from the rows where the Age is greater than 20.

In [6]:
# Q5. Explain Primary Key and Foreign Key.

A primary key is a column or set of columns in a table that uniquely identifies each row in that table. It must contain unique values, and no two rows in the table can have the same primary key value. A foreign key is a column or set of columns in one table that refers to the primary key of another table.

In [7]:
# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)
```

The `cursor()` method creates a cursor object that allows you to execute SQL queries on a database. 
The `execute()` method is used to execute a SQL query on the database.