```
Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})
```

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name': course_name, 'duration' : duration})

In [5]:
#Q1. Write a code to print the data present in the second row of the dataframe, df.

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [14]:
df.iloc[1:2,:]

        course_name  duration
1  Machine Learning         3

In [15]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

'loc' is used to access the rows of a DataFrame by label(s) or a boolean array whereas 'iloc' is used to access the rows of a DataFrame by integer position(s) or a boolean array.

In [16]:
# Q3 Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
#then find the output for both new_df.loc[2] and new_df.iloc[2].

In [18]:
new_df = df.reindex([3,0,1,2])

In [19]:
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [20]:
print(new_df.loc[2])
print(new_df.iloc[2])

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

```
Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
```

In [21]:
"""
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’
"""

'\nQ4. Write a code to find the following statistical measurements for the above dataframe df1:\n(i) mean of each and every column present in the dataframe.\n(ii) standard deviation of column, ‘column_2’\n'

In [22]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
# Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [23]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.400906  0.415046  0.481605  0.983489  0.109951  0.900001
2  0.061134  0.087520  0.570076  0.097586  0.443657  0.718680
3  0.160662  0.350720  0.536497  0.429306  0.056607  0.892755
4  0.026089  0.479718  0.638300  0.191664  0.170860  0.307261
5  0.873546  0.346702  0.366654  0.126870  0.128248  0.923238
6  0.360782  0.489922  0.456832  0.158460  0.911319  0.892008

In [24]:
# i)

In [33]:
for i in df1.columns:
  print("mean of",i,"=",df1[i].mean())

mean of column_1 = 0.313852910632284
mean of column_2 = 0.36160462535966703
mean of column_3 = 0.5083273726631327
mean of column_4 = 0.3312290995263142
mean of column_5 = 0.3034404164794075
mean of column_6 = 0.7723238654971407

In [35]:
# ii)
df1['column_2'].std()

0.14746884377758607

```
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
```

In [50]:
df1['column_2'].iloc[1:2] = "Yogesh"

In [51]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.400906  0.415046  0.481605  0.983489  0.109951  0.900001
2  0.061134    Yogesh  0.570076  0.097586  0.443657  0.718680
3  0.160662   0.35072  0.536497  0.429306  0.056607  0.892755
4  0.026089  0.479718  0.638300  0.191664  0.170860  0.307261
5  0.873546  0.346702  0.366654  0.126870  0.128248  0.923238
6  0.360782  0.489922  0.456832  0.158460  0.911319  0.892008

In [52]:
df1['column_2'].std()

TypeError: ignored

**We are getting this error because we cannot perform staticatical calculation on string datas**

```
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
```

```
Windows function is a group of function that performs calculations across a set of rows that are related to the current row. Types of windows functions are: 
1. Rolling
2. Expanding
3. EWMA (Exponential Weighted Moving Average)
```

```
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]
```

In [53]:
current_time = pd.datetime.now()
print("Current month and year:", current_time.strftime("%B %Y"))

Current month and year: June 2023

<ipython-input-53-63dfe7c9fa24>:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  current_time = pd.datetime.now()