```
Consider the below code to answer further questions:
import numpy as np
list_ = [ ‘1’ , ’2’ , ‘3’ , ‘4’ , ‘5’ ]
array_list = np.array(object = list_)
```

In [55]:
import numpy as np
list_ = [ '1' , '2' , '3' , '4', '5' ]
array_list = np.array(object = list_)

In [57]:
"""
Q1. Is there any difference in the data type of variables list_ and array_list? If there is then write a code
to print the data types of both the variables.
"""

'\nQ1. Is there any difference in the data type of variables list_ and array_list? If there is then write a code\nto print the data types of both the variables.\n'

In [58]:
type(list_)

list

In [59]:
type(array_list)

numpy.ndarray

```
Q2. Write a code to print the data type of each and every element of both the variables list_ and
arra_list.
```

In [60]:
# data type of every element of variables list_ =>

for i in list_:
  print("The data type of",i, "is",type(i))

The data type of 1 is <class 'str'>
The data type of 2 is <class 'str'>
The data type of 3 is <class 'str'>
The data type of 4 is <class 'str'>
The data type of 5 is <class 'str'>

In [61]:
# data type of every element of array list_ =>

for i in array_list:
  print("The data type of",i, "is",type(i))

The data type of 1 is <class 'numpy.str_'>
The data type of 2 is <class 'numpy.str_'>
The data type of 3 is <class 'numpy.str_'>
The data type of 4 is <class 'numpy.str_'>
The data type of 5 is <class 'numpy.str_'>

```
Q3. Considering the following changes in the variable, array_list:
array_list = np.array(object = list_, dtype = int)
Will there be any difference in the data type of the elements present in both the variables, list_ and
arra_list? If so then print the data types of each and every element present in both the variables, list_
and arra_list.
```

In [62]:
array_list = np.array(object = list_, dtype = int)

In [63]:
# data type of every element of array list_ =>

for i in array_list:
  print("The data type of",i, "is",type(i))

The data type of 1 is <class 'numpy.int64'>
The data type of 2 is <class 'numpy.int64'>
The data type of 3 is <class 'numpy.int64'>
The data type of 4 is <class 'numpy.int64'>
The data type of 5 is <class 'numpy.int64'>

In [64]:
# data type of every element of list_ =>

for i in list_:
  print("The data type of",i, "is",type(i))

The data type of 1 is <class 'str'>
The data type of 2 is <class 'str'>
The data type of 3 is <class 'str'>
The data type of 4 is <class 'str'>
The data type of 5 is <class 'str'>

```
Consider the below code to answer further questions:
import numpy as np
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)
Q4. Write a code to find the following characteristics of variable, num_array:
(i) shape
(ii) size
```

In [65]:
num_list = [ [ 1 , 2 , 3 ] , [ 4 , 5 , 6 ] ]
num_array = np.array(object = num_list)

In [66]:
np.shape(num_list)

(2, 3)

In [67]:
np.size(num_list)

6

```
Q5. Write a code to create numpy array of 3*3 matrix containing zeros only, using a numpy array
creation function.
[Hint: The size of the array will be 9 and the shape will be (3,3).]
```

In [69]:
np.zeros([3,3])

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

```
Q6. Create an identity matrix of shape (5,5) using numpy functions?
[Hint: An identity matrix is a matrix containing 1 diagonally and other elements will be 0.]
```

In [72]:
np.identity(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])