Q1. Explain with an example each when to use a for loop and a while loop.

ANS= The while loop requires relevant variables to be ready, it runs when it meets the condition. A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [56]:
# Example for for loop:

for i in range(1,6):
    print(i)

1
2
3
4
5

In [60]:
# While loop example:

i = 1

while i<6:
    print(i)
    i = i+1

1
2
3
4
5

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [75]:
# using for loop:

s = 0
p = 1

for i in range(1,11):
    s = s+i
    p = p*i
    
print("The sum is",s, "and the product is",p)

The sum is 55 and the product is 3628800

In [78]:
#using while loop:

i = 1
s = 0
p = 1

while(i<11):
    s = s+i
    p = p*i
    i = i+1
print("The sum is",s, "and the product is",p)

The sum is 55 and the product is 3628800

Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

In [92]:
print("Please enter the unit consumed:")
units = int(input())

Please enter the unit consumed:

 310

In [93]:
total_bill = 0

if(units<=100):
    total_bill = units*4.5
elif(units<=200):
    total_bill = 450 + (units-100)*6
elif(units<=300):
    total_bill = 450+600+(units-200)*10
else:
    total_bill = 450+600+1000+(units-300)*20
    
print("Total bill is:", total_bill)

Total bill is: 2250

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [97]:
l = [ i for i in range(1,101)]

In [105]:

#Using for loop
print([i**3 for i in l if i**3%4==0 or i**3%5==0])

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [106]:
#using for while loop:

i = 1
new_list =[]
while i< 101:
    if(i**3%4==0 or i**3%5==0):
        new_list.append(i**3)
    i=i+1

print(new_list)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

9