In [1]:
import pandas as pd

# **Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [4]:
df1 = pd.Series([4,8,15,16,23,42])

In [5]:
df1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [6]:
df2 = pd.Series([4,8,15,16,23,42,'mango','orange','tomato','onion'])

In [7]:
df2

0         4
1         8
2        15
3        16
4        23
5        42
6     mango
7    orange
8    tomato
9     onion
dtype: object

## **Q3. Create a Pandas DataFrame that contains the following data:**

In [17]:
ls = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}

In [18]:
df3 = pd.DataFrame(ls)

In [19]:
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## **Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

Ans=> A pandas series is a one-dimensional data structure that comprises of key-value pair. Whereas pandas dataframe is comprises of  two or more series with common indices.

## **Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

Ans=> All pandas data structures are value mutable but not always size mutable.

## **Q7. Create a DataFrame using multiple Series. Explain with an example.**

In [20]:
# series 1

sr1 = pd.Series(['country','india','japan','russia','china'])
sr2 = pd.Series(['population',100000,2000,3000,9000])

In [30]:
pd.DataFrame.transpose(pd.DataFrame([sr1,sr2]))

         0           1
0  country  population
1    india      100000
2    japan        2000
3   russia        3000
4    china        9000